# Mẫu file .env - SAO CHÉP file này thành .env và điền giá trị thật

PORT=5000
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/DATABASE_NAME
JWT_SECRET=chuoi_bi_mat_cua_ban
NODE_ENV=production
